// script(type='text/javascript', src='js/common.js')
script(type='text/javascript', src='/admin/lib/jquery/dist/jquery.js')
script(type='text/javascript', src='/admin/lib/bootstrap/dist/js/bootstrap.js')
script(type='text/javascript', src='/admin/lib/chosen/chosen.jquery.min.js')
script(type='text/javascript', src='/admin/lib/angular/angular.js')
script(type='text/javascript', src='/admin/translator/js/translate.js')
script(type='text/javascript', src='/admin/translator/js/translatorTuneList.js')
script(type='text/javascript', src='/admin/translator/js/translatorTranslatePages.js')
script(type='text/javascript', src='/admin/translator/js/translatorEditItem.js')
script(type='text/javascript', src='/admin/translator/js/translatorLocalTags.js')
script(type='text/javascript', src='/admin/lib/ng-tags-input/ng-tags-input.js')
script(type='text/javascript', src='/admin/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/admin/lib/angular-ui-utils/ui-utils.js')
script(type='text/javascript', src='/admin/lib/angular-sanitize/angular-sanitize.js')
script(type='text/javascript', src='/admin/lib/ng-table/ng-table.js')
