link(rel='stylesheet', type='text/css', href='/admin/lib/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet', type='text/css', href='/admin/weblib/bootstrap-flatly/flatly.css')
link(rel='stylesheet', type='text/css', href='/admin/lib/chosen/chosen.min.css')
link(rel='stylesheet', type='text/css', href='/admin/admin/css/style.css')
link(rel='stylesheet', type='text/css', href='/admin/lib/ng-table/ng-table.css')
